<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">   

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
  </head>
  
  <style>
	form {
		width: 50%;
	}
	
	@media ( max-width: 992px ) {
		form {
			width: 100%;
		}
		
		main {
			border: 1px solid #6c757d;
		}
	}
	
	
  </style>

  <body onload="getValFromURL()">
	
	<!-- Navbar -->
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="btn btn-sm btn-outline-secondary" href="/home">
            <i class="material-icons" style = "vertical-align: middle">home</i>
            </a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Update</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <!-- <a class="text-muted" href="#">Subscribe</a> -->
            <a class="btn btn-sm btn-outline-secondary" href="/add">
            <i class="material-icons" style = "vertical-align: middle">add</i>
            </a>
          </div>
        </div>
      </header>
	
	<main role="main" class="container" style = "padding: 1.5rem; display: block; margin: auto;">
		<h5>Update a post!</h5>
			<!-- method = "POST" action = "/Update" -->
			<form action = "/home">
				<div class="form-group">
					<label>Id Number:</label>
					<input id = "idVal" class="form-control" type="text" name="_id">	
				</div>
				<div class="form-group">
					<label>Title:</label>
					<input id = "titleVal" class="form-control" type="text" name="title">	
				</div>
				<div class="form-group">
					<label>Name:</label>
					<input id = "nameVal" class="form-control" type="text" name="name">
				</div>
				<div class="form-group">
					<label>Description:</label>
					<textarea id = "descVal" class="form-control" name="description" style = "display: block;"></textarea>	
				</div>
				<input onclick = "localizeAllFormValues()" type="submit" class="btn btn-primary btn-sm">	
			</form>	
		</div>
	</main>

	<!-- 
	<form>
		<input type = "text" name = "title"/>
		<input type = "text" name = "name"/>
		<input type = "text" name = "description"/>
		<button type="submit">Submit</button>
	</form>
	-->
    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
	
	<!-- Update Post Script -->
	<script type="text/javascript" src = "js/update-script.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  </body>
</html>


